.kitty-1 #basket img[alt="Kitty 5"]


 div #kitty-1 {
  position: absolute;
  z-index: 1;
  top: 276px;
  left: 129px;
}

.kitty-2

div #kitty-2 {
position: absolute;
  z-index: 2;
  top: 212px;
  left: 369px;
}

.kitty-3

div #kitty-3 #ball + img{
  position: absolute;
  z-index: 5;
  top: 291px;
  left: 319px;
}

.kitty-4

div #kitty-4  position: absolute;
  z-index: 4;
  top: 260px;
  left: 455px;
}

.kitty-5

div #kitty-5  position: absolute;
  z-index: 3;
  top: 217px;
  left: 223px;
}
